{% extends 'base.html' %}

{% block extra_css %}
    <style>
        /* Center the card vertically and horizontally */
        .centered-card {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh; /* Ensure card takes up full height of viewport */
        }

        /* Give the card a shadow effect */
        .card {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container centered-card">

        <div class="card p-5">
            <h1>Create Post</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">My Title</label><input class="form-control" type="text"
                                                              id="title" {{ form.title }}
                </div>

                <div class="form-group">
                    <label for="content">Content</label><textarea class="form-control" rows="3"
                                                                  id="content" {{ form.content }}
                </div>

                <div class="form-group">
                    <label for="attachments">Attachments</label>
                    <input type="file" class="form-control-file" multiple {{ form.attachments }}
                </div>
                <div class="form-group">
                    <label for="categories">Categories</label>
                    <select class="form-control" id="categories" multiple {{ form.categories }} </select>
                </div>
                <div class="form-group">
                    <label for="audience">Audience</label>
                    <select id="audience" class="form-control" {{ form.audience }} </select>
                </div>
                <button type="submit" class="btn btn-secondary">Post</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

{% endblock %}