* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    outline: none;
    page-break-inside: avoid;
}

body {
    background-color: white;
    padding-top: 85px;
}

#divone { 
    margin: 30px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    transform: scale(0.6);
    opacity: 0;
    transition: transform 1s, opacity 2.5s;
}